# System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

# build output
dist/
build/
